extends layout

block content

   h1 #{title}

   p #[strong Nazwa:] #{device.name}
   p #[strong Ip:] #{device.ip}
   p #[strong Linia:] #{device.line.name}
   p #[strong Typ urządzenia:] #{device.devicetype.name}
   p #[strong Opis:] #{device.desc}


    hr
    p 
    a(href=device.url + '/delete') Usuń Urządzenie
    p
    a(href=device.url+'/update') Zmodyfikuj Urządzenie

  
