extends layout

block content
   div(class="col-sm-7 my-5")
      h1.text-center.mb-5= title

      ul 
         each line in line_list
            table.table.table-bordererd.table-striped.table-hover.dark-header-hover
               thead.table-dark
                  tr
                     th.text-center(scope='col' colspan='2') #{line.name}
                     
                     
               tbody
                  each device in device_list
                     if device.line == line._id.toString()
                        tr
                           td.padding0(width="50%") 
                              a.black-link(href=device.url) #{device.devicetype.name} 
                           td.padding0
                              a.black-link(href=device.url) #{device.name}


  
         else
            li There are no decives.
   div(class="col-lg-2 my-5")
      a(href="/api/device/create") Utwórz Urządzenie