extends layout

block content
  div(class="col mx-md-5 my-5")
    h1 #{title}: #{devicetype.name}

    if devicetype_devices.length

      p.h4.pt-3 Usuń poniższe urządzenia przed usunięciem typu:

      div(style='margin-left:20px;margin-top:20px')

        dl
        each device in devicetype_devices
          dt
            a(href=device.url) #{device.name}
            dd #{device.desc}

    else
      p Czy na pewno chcesz usunąć to urządzenie?

      form(method='POST' action='')
        div.form-group
          input#devicetypeid.form-control(type='hidden',name='devicetypeid', required='true', value=devicetype._id )

        button.btn.btn-danger(type='submit') Usuń