extends layout

block content
   div(class="col-sm-7 my-5")
      h1 #{title}

      p #[strong Nazwa:] #{device.name}
      p #[strong Ip:] #{device.ip}
      p #[strong Linia:] #{device.line.name}
      p #[strong Typ urządzenia:] #{device.devicetype.name}
      p #[strong Opis:] #{device.desc}
     
   div(class="col-lg-2 my-5")
        a(href=device.url + '/delete') Usuń 
        p
        a(href=device.url + '/update') Zmodyfikuj 

  

