extends layout

block content
  div(class="col-sm-7 my-5")
    h1 #{title}: #{device.name}

    if device_plans.length

      p.h4.pt-3 Usuń poniższe plany przed usunięciem urządzenia:

      div(style='margin-left:20px;margin-top:20px')

        h4 Plany:

        dl
        each plan in device_plans
          dt
            a(href=plan.url) #{plan.date_created}
          dd #{plan.desc}

    else
      p Czy na pewno chcesz usunąć to Urządzenie?

      form(method='POST' action='')
        div.form-group
          input#deviceid.form-control(type='hidden',name='deviceid', required='true', value=device._id )

        button.btn.btn-danger(type='submit') Delete