extends layout

block content
  div(class="col mx-md-5 my-5")
    h1.pb-3 #{title}: #{line.name}

    if line_devices.length

      p.h4.pt-3 Usuń poniższe urządzenia przed usunięciem linii:

      div(style='margin-left:20px;margin-top:20px')

        h4 Urządzenia:

        dl
        each device in line_devices
          dt
            a(href=device.url) #{device.name}
          dd #{device.desc}

    else
      p.py-3 Czy na pewno chcesz usunąć tą Linię?

      form(method='POST' action='')
        div.form-group
          input#lineid.form-control(type='hidden',name='lineid', required='true', value=line._id )

        button.btn.btn-danger(type='submit') Usuń