extends layout

block content
   div(class="col-md-7 my-5 text-body")
      h1.text-center.mb-5= title

      table.table.table-bordered.table-striped.table-hover.dark-header-hover
         thead.table-dark
            tr
               th(scope='col') Opis
               th(scope='col') Data utworzenia
               th(scope='col') Data egzekucji
         tbody
            each plan in plan_list
               tr
                  td.padding0
                     a(class=(plan.isDone === true ? 'green-link' : 'red-link') href=plan.url) #{plan.desc}
                  td.padding0
                     a.black-link(href=plan.url) #{plan.virtual_date_created}
                  td.padding0 
                     a(class=(plan.date_execution < new Date() ? (plan.isDone ? 'green-link' : 'red-link') : 'black-link') href=plan.url) #{plan.virtual_date_execution}
            else
               li There are no lines.
   div(class="col-lg-2 py-5")
      a(href="/api/plan/create") Utwórz nową pracę planowaną