extends layout
block content
   div(class="col mx-md-5 my-5")
      h1.my-5 Zaplanuj pracę
      form(method='POST' action='')
         div.form-group
            label(for='desc') Tytuł:
            input#title.form-control(type='text', name='desc', value=(undefined===plan ? '' : plan.desc))
            label(for='desc') Opis:
            input#name.form-control(type='text', name='desc', value=(undefined===plan ? '' : plan.desc))
            
            label(for='date_execution') Planowana data wykonania:
            input#date_execution.form-control(type='date' name='date_execution' value=(undefined===plan ? '' : plan.virtual_date_execution) )
         
            label(for='shift') Numer zmainy:
            select#shift.form-control(type='select', placeholder='Wybierz' name='shift' )

               for item in shift_names
                  if plan
                     option(value=(item==='Popołudniowa' ? 2 : (item==='Nocna' ? 3 : 1) ) selected=(plan.virtual_num_to_word===item) ? 'selected' : false) #{item}
                  else
                     option(value=(item==='Popołudniowa' ? 2 : (item==='Nocna' ? 3 : 1) )) #{item}


            label(for='user') Zlecający:
            select#user.form-control(type='select', placeholder='Wybierz autora' name='user' )
               for user in user_list
                  if plan
                     option(value=user._id selected=(user._id.toString()===plan.user._id.toString() ? 'selected' : false )) #{user.fullname}
                  else
                     option(value=user._id) #{user.fullname}

         button.btn.btn-primary(type='submit') Zapisz
   

      if errors
         ul
            for error in errors
               li!=error.msg


   script.
      $(document).ready(function(){
         let usersList = !{JSON.stringify(userList)}
         let users = ''
         for(let i=0; i<usersList.length; i++) {
            users = users + '<option value='+ usersList[i]._id +'>' + usersList[i].name + ' ' + usersList[i].surname + '</option>';

         }
         $("#addUserButton").click(function(){
            $('#users thead').after(`
               <tr>
                  <td>
                     <select class='form-control user'>
                        <option> Nie wybrano </option>
                        `+users+`
                     </select>
                  </td>
               </tr>
            `)
         })
      })
      
   script.
      $(document).ready(function() {
         $("#postSearchButton").click(function(){
            // 'list'
            let users = document.querySelectorAll('#users .user')

            // id
            let line = document.querySelector('#line').value
            let devicetype = document.querySelector('#devicetype').value
            let device = document.querySelector('#device').value

            // string
            let inspection = document.querySelector('#inspection').value
            let dateStart = document.querySelector('#dateStart').value
            let dateEnd = document.querySelector('#dateEnd').value
            let timespan = (document.querySelector('#timespan').value)
            let shiftnum = document.querySelector('#shiftnum').value

            dateStart = new Date(dateStart) 
            dateEnd = new Date(dateEnd) 
            dateStart.setHours(0,0,0,0)
            dateEnd.setHours(24,0,0,0)

            $.post("", {
               users: JSON.stringify(users), 
               line: line, 
               devicetype: devicetype,
               device: device,
               inspection: inspection,
               dateStart: dateStart,
               dateEnd: dateEnd,
               timespan: timespan,
               shiftnum: shiftnum 
            }, function(data){
                console.log(data)
            })
         })
      })