extends layout

block content
   
   div(class="col my-5 mx-md-5 text-body")
      h1.text-center.my-5 Lista prac planowanych

      a.btn.btn-primary.my-2(href="/api/plan/create") Utwórz nową pracę planowaną
      table.table.table-bordered.table-striped.table-hover.dark-header-hover
         thead.table-dark
            tr
               th(scope='col') Tytuł
               th(scope='col') Data utworzenia
               th(scope='col') Wielkość
         tbody
            each plan in masterplan_list
               tr
                  td.padding0
                     a.black-link(href=plan.url) #{plan.title}
                  td.padding0
                     a.black-link(href=plan.url) #{plan.date}
                  td.padding0 
                     a.black-link(href=plan.url) 10 k
            else
               li There are no lines.