extends layout

block content
  div(class="col-sm-7 my-5")
    h1 #{title}: #{user.fullname}

    if user_plans.length

      p.h4.pt-3 Usuń poniższe plany przed usunięciem użytkownika:

      div(style='margin-left:20px;margin-top:20px')

        dl
        each plan in user_plans
          dt
            a(href=plan.url) #{plan.date_created}
          dd #{plan.desc}

    else
      p Czy na pewno chcesz usunąć tego użytkownika?

      form(method='POST' action='')
        div.form-group
          input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )

        button.btn.btn-danger(type='submit') Delete