extends layout

block content
   div(class="col-sm-7 my-5")
      h1 Pracownik UR:  
      h4 #{user.fullname}
      p #[strong Email:] #{user.email}
      p #[strong Numer telefonu:] #{user.phone}
      p #[strong Specjalizacja:] #{user.spec}
      p #[strong Przywileje:]  
      ul
         if user.isTech
            li Technik
         if user.isAdmin
            li Admin
      
   div(class="col-lg-2 my-5")
        a(href=user.url + '/delete') Usuń 
        p
        a(href=user.url + '/update') Zmodyfikuj 